<table class="table container my-5" *ngIf="totalPrice > 0">
  <thead class="py-2">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Preview</th>
      <th scope="col">Name</th>
      <th scope="col">Item Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemCards ; index as i">
      <th scope="row">{{i+1}}</th>
      <td>
        <img [src]="item.image" width="50px">
      </td>
      <td>{{item.title}}</td>
      <td>{{item.price  |currency :' EGP'}}</td>
      <td>
        <button class="btn fw-bold" (click)="addPrice(item)">+</button>
        {{item.quantity}}
        <button class="btn fw-bold" (click)="decreasePrice(item)">-</button>
      </td>
      <td>{{item.quantity *item.price | currency :' EGP ' }}</td>
      <td>
        <button class="btn btn-outline-danger" (click)="remove(item)">Remove</button>
      </td>

    </tr>
    <tr>
      <td colspan="5"class="fw-bold">Total Price :</td>
      <td class="fw-bold">{{totalPrice | currency :' EGP '}}</td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger w-50 mx-auto text-center my-5" role="alert" *ngIf="totalPrice  == 0">
  Card is Empty
  <a routerLink="" class="btn btn-outline-primary my-2 d-block">Go to Shooping !!</a>
</div>
